<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <nav th:replace="~{fragments/navbar :: navbar('Home')}"></nav>

    <div class="container">
        <div class="row">
            <h2 class="py-2">Lista ticket</h2>
            <form class="d-flex" methor="get" th:action="@{/pizza}"> 
                <input name="keyword" class="form-control me-2" type="search" placeholder="Cerca ticket per titolo" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <table class="table table-striped" th:if="${list != null && list.size() > 0}">
                <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>Stato</th>
                        <th>Operatore</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tic : ${list}">
                        <th th:text="${tic.titolo}"></th>
                        <th th:text="${tic.statoLavori}"></th>
                        <th th:text="${tic.operatore.username}"></th>
                    </tr>
                </tbody>
            </table>
            <div th:if="${list == null || list.size() == 0}">
                <div class="alert alert-primary" role="alert">Non ci sono ticket</div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary">
                    <a th:href="@{/}" class="text-light">Aggiungi un nuovo ticket</a>
                </button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
</body>
</html>