<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <nav th:replace="~{fragments/navbar :: navbar('Edit')}"></nav>

    <div class="container">
        <div class="row">
            <form class="row g-3"
                    th:action="${editMode}? @{/operatore/edit/{id}(id=${operatore.id})} : @{/operatore/edit}"
                    th:object="${operatore}"
                    method="post"
                    enctype="multipart/form-data">
           
                <div class="col-md-6">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputUsername" th:field="*{username}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" th:field="*{password}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>

                <div class="col-8">
                    <label for="inputMail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputMail" th:field="*{email}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="inputPhoto" class="form-label">Inserisci la foto profilo</label>
                    <input class="form-control" 
                            type="file" 
                            name="foto" 
                            id="inputPhoto" 
                            th:classappend="${#fields.hasErrors('percorsoImg')} ? ' is-invalid' : ''">
                    <div th:if="${#fields.hasErrors('percorsoImg')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('percorsoImg')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Salva dati</button>
                    <button th:if="!editMode" class="btn btn-danger">
                        <a th:href="@{/operatore/dettaglio/{id}(id=${operatore.id})}" class="text-light">
                            Ritorna ai dettagli
                        </a>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
</body>
</html>